body{
  position: relative;
  margin: 0;
  font-family: 'Courier','Meiryo UI','TsukuARdGothic-Regular','Hannotate SC','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}
body *{
  padding: 0;
  margin: 0;
}
#nav{
  /* 通常は非表示 */
  display: none;
  /* 余白の調整 */
  margin: 0 auto;
  /* リストの幅を画面の半分に */
  width: 60%;
  /* リストを前面に */
  z-index: 500;
  /* bodyを基準に相対位置に */
  position: fixed;
  /* 右寄せ */
  right: 0;
  top: 0;
}

/* リスト */
#nav ul{
  /* 余計な隙間の削除 */
  margin: 0;
  padding: 0;
  /* リストの前の「・」の削除 */
  list-style-type: none;
  /* バックカラー */
  background-color: #509FD8;
  /* フチどり */
  border: 3px solid #fff;
  border-radius: 10px;
}
#nav li{
  /* 間隔調整 */
  padding: 5px;

  /* 仕切り(下線) */
  border-bottom: 1px solid #fff;
  /* 横幅に合わせたフォントサイズ */
  font-size: 15px;
}
#nav .selected{
  background-color: blue;
}

/* 画面幅が大きいPC閲覧用 */
@media (min-width:750px) {
  #nav{
    width: 40%;
  }
  #nav li{
    padding-right: 90px;
    font-size: 25px;
  }
}
/* メニューボタンを括ったタグaの設定 */
#nav a{
  /* 下線の取り消し */
  text-decoration: none;
  /* メニューバーの外、枠の内で反応するように */
  display: block;
  color: #fff;
}
/* メニューボタンのまわり */
#btn{
  /* 固定 */
  position: fixed;
  /* 画面の上側に */
  z-index: 1000;
  /* 右上からの座標指定 */
  top: 20px;
  right: 20px;
  /* 丸み */
  border-radius: 8px;
  /* メニューボタンからの余白 */
  padding: 20px;
  /* 背景色 */
  background-color: #0066FF;
  /* カーソルを指に */
  cursor: pointer;
  border: 3px white solid;
}
@media (max-width:750px) {
  #btn{
    /* メニューボタンからの余白 */
    padding: 10px;
  }
}

/* ハンバーガーメニュー基礎 */
/* メニューボタン */
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  /* 変化するすべてのプロパティへ適用を0.4秒で */
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  /* 基準の位置の設定 */
  position: relative;
  /* 画面幅の５％の大きさ */
  width: 25px;
  height: 25px;
}
/* メニューのバー一つ一つの設定 */
.menu-trigger span {
  /* 上で設定した基準位置からの相対位置の設定 */
  position: absolute;
  /* 左揃え */
  left: 0;
  width: 25px;
  /* 画面幅の１％の高さ(.menu-triggerの20％) */
  height: 5px;
  /* バーの色 */
  background-color: #fff;
  /* バーの丸み */
  border-radius: 10px;
}
/* 上のバー */
.menu-trigger span:nth-of-type(1) {
  /* 上に揃える */
  top: 0;
}
/* ２番目(真ん中)のバー */
.menu-trigger span:nth-of-type(2) {
  /* 真ん中(１本のバーと１本分の間隔の後)に配置 */
  top: 10px;
}
/* ３番目(下)のバー */
.menu-trigger span:nth-of-type(3) {
  /* 下に揃える */
  bottom: 0;
}
/* ハンバーガーメニュー基礎ここまで */

/* ハンバーガーメニュー動作 */
/* JSでclass.menu-triggerにclass.activeを追加されたときの動き */
.menu-trigger.active span:nth-of-type(1) {
  /* −45°回転しながら下に下ろす */
  /* Safari5で適用されるように */
  -webkit-transform: translateY(10px) rotate(-45deg);
  transform: translateY(10px) rotate(-45deg);
}
.menu-trigger.active span:nth-of-type(2) {
  /* 真ん中は消えていく */
  opacity: 0;
}
.menu-trigger.active span:nth-of-type(3) {
  /* 45°回転しながら上に上がる */
  /* Safari5で適用されるように */
  -webkit-transform: translateY(-10px) rotate(45deg);
  transform: translateY(-10px) rotate(45deg);
}
/* ハンバーガーメニュー動作ここまで */
/*
トップのヘッダー
 */
.top img{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 40vh;
  z-index: 90;
}
.top-text{
  font-size: 40px;
  color: #fff;
  height: 40px;
  z-index: 100;
  position: fixed;
  top: 15vh;
  right: 0;
  left: 0;
  text-align: center;
}
@media (max-width:800px) {
  .top img{
    height: 25vh;
  }
  .top-sub img{
    height: 25vh;
  }
  .top-text{
    top: 5vh;
  }
}
/*
トップのサブヘッダー
 */
 @keyframes mymove1 {
   0%{
     height: 45vh;
   }
   100%{
     height: 40vh;
   }
 }
 @keyframes mymove1-2 {
   0%{
     height: 30vh;
   }
   100%{
     height: 25vh;
   }
 }
 @keyframes mymove2 {
   0%{
     height: 40vh;
   }
   100%{
     height: 100vh;
   }
 }
 @keyframes mymove2-2 {
   0%{
     height: 25vh;
   }
   100%{
     height: 100vh;
   }
 }
 header .top-sub,.top-sub p{
   margin: 0;
 }
 .top-sub img{
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 200;
   width: 100vw;
   height: 40vh;
   object-fit: cover;
   object-position: 100% 0;
   animation-name: mymove1;
   animation-duration: 1s;
 }
 .top-sub .big-thumb{
   display: block;
   height: 100vh;
   animation-name: mymove2;
   animation-duration: 1s;
 }
 @media (max-width:800px) {
   .top-sub img{
     height: 25vh;
     animation-name: mymove1-2;
     animation-duration: 1s;
   }
   .big-thumb{
     animation-name: mymove2-2;
     animation-duration: 1s;
   }
 }
 /*
メインのサムネ
  */
.main{
  text-align: center;
  z-index: 50;
  margin: 45vh auto 70px;
}
.main .left{
  text-align: left;
  font-size: 30px;
  margin-left: 20px;
  margin-top: 35px;
  margin-bottom: 25px;
  text-decoration: underline;
}
.about .text{
  text-align: left;
  margin-left: 20px;
  line-height: 27px;
  width: 95vw;
}
.thumbnail{
  margin-top: -10px;;
  display: flex;
  flex-wrap: wrap;
}
.thumbnail p{
  margin-top: 15px;
  margin-bottom: 15px;
  flex: 1;
  justify-content: space-around;
}
.thumbnail img{
  width: 26vw;
  height: 26vw;
  opacity: 0.7;
  border-radius: 30px;
}
.border{
  border: 1px solid #000;
}
.def-hide{
  display: none;
}
@media (max-width:800px) {
  .main{
    margin-top: 30vh;
  }
  .illustrator img,.photoshop img,.web-design img{
    width: 45vw;
    height: 45vw;
  }
  .def-hide{
    display: block;
  }
}
/*
フッター
*/
footer{
  height: 50px;
  width: 100%;
  background-color: #C0DBF3;
  opacity: 0.7;
  position: relative;
}
footer .logo{
  position: absolute;
  bottom: 5px;
  left: 20px;
}
footer a{
  text-decoration: none;
  color: inherit;
}
footer a:hover{
  opacity: 1;
}
footer .copy{
  position: absolute;
  bottom: 5px;
  right: 20px;
}
@media (max-width:800px) {
  footer .logo{
    font-size: 15px;
    left: 5px;
  }
  footer .copy{
    font-size: 8px;
    right: 5px;
  }
}
/* TOPへボタン */
#page-top {
    position: fixed;
    z-index: 300;
    bottom: 20px;
    right: 20px;
    font-size: 40px;
}
#page-top a {
    background: #000;
    opacity: 0.5;
    text-decoration: none;
    color: #fff;
    width: 80px;
    padding: 20px 0;
    text-align: center;
    display: block;
    border-radius: 50%;
}
#page-top a:hover {
    text-decoration: none;
    opacity: 0.3;
}
@media (max-width:800px) {
  #page-top {
    font-size: 20px;
  }
  #page-top a {
    width: 50px;
    padding: 15px 0;
  }
}
/* TOPへボタンここまで */
/*
詳細ページ共通
*/
@keyframes mymove3 {
  0%{
    height: 100vh;
  }
  100%{
    height: 40vh;
  }
}
@keyframes mymove3-2 {
  0%{
    height: 100vh;
  }
  100%{
    height: 25vh;
  }
}
.head-img img{
  position: absolute;
  top: -50vh;
  left: 0;
  z-index: 200;
  width: 100vw;
  height: 40vh;
  padding: 0;
  margin: 0;
  object-fit: cover;
  object-position: 100% 0;
  animation-name: mymove3;
  animation-duration: 1s;
}
.block{
  text-align: center;
  margin: 50vh auto 65px;
}
.block h2{
  margin-top: 20px;
}
.block p{
  padding: 15px;
}
.block img{
  width: 80vw;
  height: auto;
  margin: 30px;
}
@media (max-width:800px) {
  .head-img img{
    top: -30vh;
  }
  .head-img img{
    height: 25vh;
    animation-name: mymove3-2;
    animation-duration: 1s;
  }
  .block{
    margin-top: 30vh;
  }
}
/*
アプリ模写：サムネクリックで拡大表示
*/
.mini-image{
  text-align: center;
}
.mini-image img{
  width: 200px;
  height: auto;
  cursor: pointer;
}
.hide-image{
  display: flex;
  position: fixed;
  top: 10vh;
  left: 35vw;
  z-index: 2000;
  display: none;
}
.fullcolor{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1500;
  background-color: rgba(0,0,0,0.7);
  display: none;
}
.hide-image img{
  width: auto;
  height: 80vh;
  flex: 1;
}
@media (max-width:800px) {
  .mini-image img{
    width: 120px;
    height: auto;
  }
  .hide-image{
    top: 1vh;
    left: 5vw;
  }
  .hide-image img{
    width: 80vw;
    height: auto;
  }
}

/*
キャラ模写
*/
.block .img-block{
  display: flex;
  justify-content: center;
}
.img-block .mini-img1,.img-block .mini-img2{
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.hide-img{
  position: fixed;
  top: 10vh;
  left: 25vw;
  z-index: 2000;
  display: none;
  cursor: pointer;
}
.hide-img img{
  width: auto;
  height: 80vh;
}
@media (max-width:800px) {
  .img-block .mini-img{
    width: 100px;
    height: 100px;
  }
  .hide-img{
    top: 8vh;
    left: 5vw;
  }
  .hide-img img{
    width: 80vw;
    height: auto;
  }
}

/*
和柄
*/
.wagara{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.wagara a{
  flex: 0 0 200px;
  margin: 0;
  width: 200px;
  height: 200px;
}
.wagara img{
  width: 200px;
  height: 200px;
}
.wagara img:hover{
  transform: scale(0.9,0.9);
  transform-origin: center;
}
@media (max-width:800px) {
  .wagara{
    width: 100vw;
  }
  .wagara a{
    flex: 0 0 auto;
    width: 30vw;
    height: 30vw;
  }
  .wagara a:nth-of-type(3n-2){
    margin-left: 5vw;
  }
  .wagara img{
    margin: 0;
    width: 30vw;
    height: 30vw;
  }
}

/*
鮫模写
*/
.sea{
  width: 100vw;
  height: 500px;
  background-color: #9DD1F2;
  position: relative;
  overflow: hidden;
}
.sea p,.sea img{
  position: absolute;
  z-index: 25;
  height: 200px;
  width: auto;
  right: -400px;
  animation: shark-animate 15s linear infinite;
  /* 画面に画像がチラつく時の対処 */
  -webkit-transform: translate3d(0, 0, 0);
}
.sea p:nth-child(1),.sea p:nth-child(1) img{
  top: 10px;
  animation-delay: 0s;
}
.sea p:nth-child(2),.sea p:nth-child(2) img{
  top: 100px;
  animation-delay: 5s;
}
.sea p:nth-child(3),.sea p:nth-child(3) img{
  top: 55px;
  animation-delay: 10s;
}
@keyframes shark-animate {
  0%{
    transform: translateX(0) translateY(0);
  }
  20%{
    transform: translateX(-22vw) translateY(30px);
  }
  40%{
    transform: translateX(-44vw) translateY(0);
  }
  60%{
    transform: translateX(-66vw) translateY(30px);
  }
  80%{
    transform: translateX(-88vw) translateY(0);
  }
  100%{
    transform: translateX(-110vw) translateY(30px);
  }
}
.sea .circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 500px;
  overflow: hidden;
  z-index: 50;
  position: relative;
}
.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.5);
  animation: circle-animate 15s linear infinite;
  bottom: -20px;
}
.circles li:nth-child(1){
  left: 25%;
  animation-delay: 0s;
}
.circles li:nth-child(2){
  left: 10%;
  animation-delay: 2s;
  animation-duration: 12s;
}
.circles li:nth-child(3){
  left: 70%;
  animation-delay: 4s;
}
.circles li:nth-child(4){
  left: 40%;
  animation-delay: 0s;
  animation-duration: 18s;
}
.circles li:nth-child(5){
  left: 65%;
  animation-delay: 0s;
}
.circles li:nth-child(6){
  left: 75%;
  animation-delay: 3s;
}
.circles li:nth-child(7){
  left: 35%;
  animation-delay: 7s;
}
.circles li:nth-child(8){
  left: 50%;
  animation-delay: 15s;
  animation-duration: 45s;
}
.circles li:nth-child(9){
  left: 20%;
  animation-delay: 2s;
  animation-duration: 35s;
}
.circles li:nth-child(10){
  left: 85%;
  animation-delay: 0s;
  animation-duration: 11s;
}
@keyframes circle-animate {
  0%{
    transform: translateY(0);
  }

  100%{
    transform: translateY(-550px);
  }
}
@media (max-width:800px) {
  .sea p,.sea img{
    height: 150px;
    width: auto;
    right: -200px;
  }
}

/*
ポリゴン
*/
.relative{
  width: 100vw;
  height: 500px;
  position: relative;
  overflow: hidden;
}
.relative .poly-sea{
  position: absolute;
  padding: 0;
  margin-left: -1.8em;
}
.relative .poly-sea img{
  width: 100vw;
  height: 500px;
  object-fit: cover;
  z-index: 20;
}
.relative .poly-shark,.relative .poly-shark img{
  position: absolute;
  top: 30px;
  left: 10vw;
  z-index: 25;
  height: 350px;
  width: auto;
  animation: poly-animate 15s linear infinite;
}
@keyframes poly-animate {
  0%{
    transform: translateY(0);
  }
  25%{
    transform: translateY(30px);
  }
  50%{
    transform: translateY(0);
  }
  75%{
    transform: translateY(30px);
  }
  100%{
    transform: translateY(0);
  }
}

.relative .tris{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 500px;
  overflow: hidden;
  z-index: 50;
  position: relative;
}
.tris li{
  position: absolute;
  display: block;
  list-style: none;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid rgba(255,255,255,0.5);
  animation: tri-animate 25s linear infinite;
  bottom: -50px;
}
.tris li:nth-child(1){
  left: 25%;
  animation-delay: 0s;
}
.tris li:nth-child(2){
  left: 10%;
  animation-delay: 2s;
  animation-duration: 12s;
}
.tris li:nth-child(3){
  left: 70%;
  animation-delay: 4s;
}
.tris li:nth-child(4){
  left: 40%;
  animation-delay: 0s;
  animation-duration: 18s;
}
.tris li:nth-child(5){
  left: 65%;
  animation-delay: 0s;
}
.tris li:nth-child(6){
  left: 75%;
  animation-delay: 3s;
}
.tris li:nth-child(7){
  left: 35%;
  animation-delay: 7s;
}
.tris li:nth-child(8){
  left: 50%;
  animation-delay: 15s;
  animation-duration: 45s;
}
.tris li:nth-child(9){
  left: 20%;
  animation-delay: 2s;
  animation-duration: 35s;
}
.tris li:nth-child(10){
  left: 85%;
  animation-delay: 0s;
  animation-duration: 11s;
}
@keyframes tri-animate {
  0%{
    transform: translateY(0) rotate(0deg);
  }

  100%{
    transform: translateY(-550px) rotate(720deg);
  }
}
@media (max-width:800px) {
  .relative .poly-shark,.relative .poly-shark img{
    top: 30px;
    left: 0;
    z-index: 25;
    height: auto;
    width: 80vw;
    animation: poly-animate 15s linear infinite;
  }
}

/*
DTP向けチラシ：サムネクリックで拡大表示
*/
.hide-image.dtp{
  left: 15vw;
}
@media (max-width:800px) {
  .hide-image.dtp{
    top: 15vh;
    left: 2vw;
  }
}

/*
フォトショ：画像切り替えスライダー
*/
.cocoen{
  margin-left: 7.5vw!important;
}
.cocoen{
  width: 80vw!important;
  height: auto!important;
}
